<div class="col-md-12">
	<div class="row" id="sender">
		<p>Nguoi Nhan: </p><strong>&nbsp<%=@message.rmessage.user.email%></strong>
	</div>
	<div class="row" id="senddate">
		<p>Ngày da doc: </p><i>&nbsp<%=@message.rmessage.updated_at%></i>
	</div>
	<div class="row mt-3" id="body">
		<p><i><%=@message.body%></i></p>
	</div>
</div>
<style type="text/css">
	#sender{
		height: 50px;
		border-bottom: 1px solid #F6F6F6; 
		line-height: 60px;
	}
	#senddate{
		height: 50px;
		border-bottom: 1px solid #F6F6F6; 
		line-height: 60px;
	}
	#body{
		padding-top: 20px;
		min-height: 390px;
		height: auto;
		border: 1px solid #F6F6F6; 
		line-height: 30px;
	}
</style>

