<table>

	<% @users.each do |user| %>
		<tr>
			<td>
				<%= user.id %>
			</td>
			<td>
				<%= user.name %>
			</td>
			<td>
				<%= user.email %>
			</td>
			<td>
				<%= user.password_digest%>
			</td>
		</tr>
	<%end%>

</table>
