
          <nav class="navbar navbar-expand-sm navbar-light bg-faded">
             
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="list-group" style="width: 250px;">
                  <li class="list-group-item active">
                    <a class="nav-link" href="#" style="color: red;">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="#" style="color: red;">Features</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="#" style="color: red;">Pricing</a>
                  </li>
                  <li class="list-group-item">
                    <a class="nav-link" href="#" style="color: red;">About</a>
                  </li>
                </ul>
              </div>
            </nav>
        